@import "style.scss";

@media screen and (min-width: 1440px){
    #background{
        height: 900px;

        nav ul li{
            padding-right:4rem;
            font-size: 1.5rem;
        }

        #logo img{
            width: 12.5rem;
            height: 8.1rem;
        }
    
        #heading-text{
            h1{
                font-size: 7rem;
                letter-spacing: 0.85rem;
            }
            h2{
                font-size: 2rem;
                letter-spacing: 0.7rem;
            }
            i{
                font-size:9rem;
                text-shadow: 0.35rem 0.35rem $crna;
            }
        }
    }

    .title{
        h3{
            font-size: 3.3rem;
        }
    }
    #skills{
        #icon-holder{
            .one-icon{
                i{
                    font-size: 8rem;
                }
                p{
                    font-size: 1.3rem;
                }
                span{
                    font-size: 1.5rem;
                }
                progress{
                    height: 14px;
                }
            }
        }
       
    }
   
    figcaption{
        font-size:2rem ;
    }
    #projects{
        #projects-holder{
            .one-project{
               img{
                width:600px; 
                height: 350px;      //SVE PREBACITI U REM
            }
            }  
        }
           
    }

    #author{
        #author-holder{
            #info{
                div{
                    p,h4{
                        font-size: 2.5rem;
                    }
                }
            }
            #pic{
                img{
                    width:32.5rem;
                }
            }
        }
    }

    #contact{
        #contact-holder{
            #form{
                width: 25rem;
            }
        }
        iframe{
            width: 35rem;
            height: 35rem;
        }
    }

    footer{
        i{
            font-size: 2.0rem;
        }
        p{
            font-size: 1.9rem;
        }
    }
}

@media screen and (max-width: 1024px){
    #background{
        height: 600px;

        nav ul li{
            padding-right:3.3rem;
            font-size: 1.0rem;
        }

        #logo img{
            width: 9rem;
            height: 4.5rem;
        }
    

        #heading-text{
            h1{
                font-size: 4.5rem;
                letter-spacing: 0.5rem;
            }
            h2{
                font-size: 1.0rem;
                letter-spacing: 0.3rem;
            }
            i{
                font-size:8rem;
                /*text-shadow: 5px 5px $crna;*/
            }
        }
    }


    .title{
        h3{
            font-size: 2.5rem;
        }
    }
    #skills{
        #icon-holder{
            .one-icon{
                i{
                    font-size: 5.5rem;
                }
                p{
                    font-size: 0.8rem;
                }
                span{
                    font-size: 0.8rem;
                }
                progress{
                    height: 10px;
                }
            }
        }
       
    }
    


    figcaption{
        font-size:1.3rem ;
    }
    #projects{
        #projects-holder{
            .one-project{
                padding: 2rem 0.7rem;
                img{
                    width:300px; 
                    height: 150px;      
                }
            }
            
        }
    }


    #author{
        #author-holder{
            #info{
                div{
                    p,h4{
                        font-size: 1.5rem;
                    }
                }
            }
            #pic{
                img{
                    width:22.5rem;
                }
            }
        }
    }

    #contact{
        #contact-holder{
            #form{
                width: 15rem;
            }
        }
        iframe{
            width: 25rem;
            height: 25rem;
        }
    }

    footer{
        i{
            font-size: 1.5rem;
        }
        p{
            font-size: 1.4rem;
        }
    }
}


@media screen and (max-width: 768px){
    #background{
        height: 400px;

        nav ul li{
            padding-right:3.0rem;
            font-size: 0.7rem;
        }

        #logo img{
            width: 8rem;
            height: 3.5rem;
        }
    

        #heading-text{
            h1{
                font-size: 4rem;
                letter-spacing: 0.3rem;
            }
            h2{
                font-size: 0.8rem;
                letter-spacing: 0.15rem;
            }
            i{
                font-size:7rem;
                text-shadow: 0.3rem 0.3rem $crna;
            }
        }
    }


    .title{
        h3{
            font-size: 2rem;
        }
    }
    #skills{
        #icon-holder{
            .one-icon{
                padding: 0.5rem;
                i{
                    font-size: 5rem;
                }
                p{
                    font-size: 0.6rem;
                }
                span{
                    font-size: 0.6rem;
                }
                progress{
                    height: 8px;
                }
            }
        }
    }


    figcaption{
        font-size:1.0rem ;
    }
    #projects{
        #projects-holder{
            .one-project{
                img{
                    width:200px; 
                    height: 100px;    
                }
            }
            
        }
    }


    #author{
        #author-holder{
            #info{
                div{
                    p,h4{
                        font-size: 1.2rem;
                    }
                }
            }
            #pic{
                img{
                    width:16rem;
                }
            }
        }
    }

    #contact{
        #contact-holder{
            #form{
                width: 10rem;
                form{
                    input[type=text],input[type=password],input[type=email], textarea,button{
                        padding:0.35rem;
                        font-size: 0.7rem;
                    }
                    input[type=text]::placeholder,input[type=password]::placeholder,input[type=email]::placeholder, textarea::placeholder{
                        padding:0.35rem;
                        font-size: 0.7rem;
                    }
                    textarea{
                        line-height: 0.8rem;
                    }
                    button{
                        font-size: 0.7rem;
                        padding:0.25rem;
                    }
                }
            }
        }
        iframe{
            width: 23rem;
            height: 23rem;
        }
    }

    footer{
        i{
            font-size: 1.3rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
}



@media screen and (max-width: 576px){
    #background{
        height: 320px;

        nav ul li{
            padding-right:2.5rem;
            font-size: 0.5rem;
        }

        #logo img{
            width: 6.5rem;
            height: 2rem;
        }
    

        #heading-text{
            h1{
                font-size: 3rem;
                letter-spacing: 0.2rem;
            }
            h2{
                font-size: 0.6rem;
                letter-spacing: 0.1rem;
            }
            i{
                font-size:6rem;
                text-shadow: 0.2rem 0.2rem $crna;
            }
        }
    }


    .title{
        h3{
            font-size: 1.2rem;
        }
    }
    #skills{
        #icon-holder{
            .one-icon{
                padding: 0.4rem;
                i{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 0.35rem;
                }
                span{
                    font-size: 0.4rem;
                }
                progress{
                    height: 6px;
                }
            }
        }
    }


    figcaption{
        font-size:0.6rem ;
    }
    #projects{
        #projects-holder{
            .one-project{
                padding: 2rem 0.7rem;
                img{
                    width:150px; 
                    height: 80px;     
                }
            }
            
        }
    }


    #author{
        #author-holder{
            #info{
                div{
                    p,h4{
                        font-size: 0.8rem;
                    }
                }
            }
            #pic{
                img{
                    width:11.5rem;
                }
            }
        }
    }

#contact{
        #contact-holder{
            flex-direction: column;
            #form{
                width: 20rem;
                margin-bottom: 4rem;
                form{
                    input[type=text],input[type=password],input[type=email], textarea,button{
                        padding:0.55rem;
                        font-size: 1rem;
                    }
                    input[type=text]::placeholder,input[type=password]::placeholder,input[type=email]::placeholder, textarea::placeholder{
                        padding:0.55rem;
                        font-size: 1rem;
                    }
                    textarea{
                        line-height: 1.1rem;
                    }
                    button{
                        font-size: 1rem;
                        padding:0.45rem;
                    }
                }
            }
        }
        iframe{
            width: 23rem;
            height: 23rem;
        }
    }

    footer{
        i{
            font-size: 1.0rem;
            padding:12.5px 35px;
        }
        p{
            font-size: 0.9rem;
        }
    }
}



@media screen and (max-width: 450px){
    #background{
        height: 280px;

        #logo{
            padding:0.5rem;
        }
        header div{
            flex-direction: column;
        }
        nav{
            padding-top:2px;
            padding-bottom:10px;
        }
        nav ul li{
            padding-right:2.5rem;
            font-size: 0.7rem;
        }

        #logo img{
            width: 5.5rem;
            height: 1.1rem;
        }
    

        #heading-text{
            margin:7%;
            h1,h2{
                padding-bottom:3.5%;
            }
            h1{
                font-size: 120%;
                letter-spacing: 4px;
                //word-wrap: break-word; //NE RADI!!!
                display: inline-block; //NI OVO NE RADI!!!
            }
            h2{
                font-size: 20%;
                letter-spacing: 2px;
            }
            i{
                font-size:5rem;
                text-shadow: 0.1rem 0.1rem $crna;
               /* padding-top:40%;*/
            }
        }
    }

    .title{
        margin:4% auto;
        h3{
            font-size: 1.5rem;
        }
    }
    #skills{
        #icon-holder{
            flex-direction: column;
            .one-icon{
                width: 75%;
                padding:5% 0%;
                i{
                    font-size: 6rem;
                }
                p{
                    font-size: 0.75rem;
                }
                span{
                    font-size: 0.75rem;
                }
                progress{
                    height: 10px;
                }
            }
        }
       
    }


    figcaption{
        font-size:1rem ;
    }
    #projects{
        #projects-holder{
            justify-content: center;
            .one-project{
                
                //padding: 2rem 0.7rem;
                img{
                    width:220px; 
                    height: 120px;      
                }
            }
            
        }
    }


    #author{
        #author-holder{
            flex-direction: column;
            #info{
                order:2;
                padding-top:5%;
                div{
                    p,h4{
                        font-size: 1.0rem;
                    }
                }
            }
            #pic{
                img{
                    width:12.5rem;
                    order:1;
                }
            }
        }
    }

    #contact{
        #contact-holder{
            flex-direction: column;
            #form{
                width: 15rem;
                margin-bottom: 2.5rem;
                form{
                    input[type=text],input[type=password],input[type=email], textarea,button{
                        padding:0.35rem;
                        font-size: 0.75rem;
                    }
                    input[type=text]::placeholder,input[type=password]::placeholder,input[type=email]::placeholder, textarea::placeholder{
                        padding:0.35rem;
                        font-size: 0.75rem;
                    }
                    textarea{
                        line-height: 0.8rem;
                    }
                    button{
                        font-size: 0.70rem;
                        padding:0.25rem;
                    }
                }
            }
        }
        iframe{
            width: 15rem;
            height: 15rem;
        }
    }

    footer{
        i{
            padding:10px 25px;
            font-size: 0.85rem;
        }
        p{
            font-size: 0.75rem;
        }
    }
}
