*{
    padding:0px;
    margin:0px;
}


$bela:#FFF;
$pozadinska:#f0f7ed;
$zelena:#609c44;
$crna:#000;
$siva:#525252;
$font:'Exo 2', sans-serif;;

@mixin flex-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@mixin form-text{
    color:$zelena;
    font-weight: bold;
    font-size: 1rem;
    font-family: $font
}
@mixin back-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
body{
    font-family: $font;
    background-color: $crna;
}
html{
    scroll-behavior: smooth;
}
hr{
    border:1.5px solid $zelena;
    width: 90%;
    margin:0px 5%;
}
figcaption{
    padding-top:2%;
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    color:$zelena;
}
a{
    text-decoration: none;
}


.title {
    margin: 2% auto;
h3{
   font-size: 3rem; 
   text-align: center;
   color: $bela;
}
}



#background {
    background-image: url("..//images/background4.jpg");
    @include back-img();
    height:700px;


    header{
        background-color: $crna;
        color:$bela;
    }
    .centering{
        margin:auto 5%;
    }
    .flex{
        @include flex-block();
    }
    nav ul{
        list-style-type: none;
    }
    nav ul li{
        display: inline;
        padding-right:3rem;
        font-size: 1.5rem;

        a{
            transition:  0.5s ease-in-out;
            text-decoration: none;
            color:$bela;
        }
        a:hover{
            color:$zelena;
            text-decoration: underline;
        }
    }
    nav ul li:last-child{
        padding-right:0px;
    }
    
    #logo img{
        width: 10rem;
        height: 5.6rem;
    }


    #heading-text{
     margin:5%;
    /*display: flex;
    flex-direction: column;
    text-align: center;*/
    @include flex-block();
    flex-direction: column;
   
    h1,h2{
        text-transform: uppercase;
        color:$bela;
       /* background-color: $crna;*/
        font-weight: bold;
    }
    h1{
        font-size: 6.5rem;
        letter-spacing: 0.7rem;
        word-spacing: 0.5rem;
        text-shadow: 0.45rem 0.45rem $crna;
    }
    h2{
        padding-top: 3%;
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        text-transform: lowercase;
        text-shadow: 0.25rem 0.25rem $crna;
    }
    i{
        font-size:8.5rem;
        color:$bela;
        text-shadow: 0.2rem 0.2rem $crna;
        padding-top: 45%;
        animation-name: animacija;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    }
}


@keyframes animacija {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0);
}}




.section{
    @include flex-block();
    flex-direction: column;
    background-color: $crna;
    color: $bela;
}

span{
    color:$zelena;
    text-align: right;
    font-weight: bold;
    font-family: $font;
    padding-top: 0.75rem
}

#skills {

   #icon-holder {
    @include flex-block();
    margin: 5%;
    margin-top:0%;
  
    .one-icon {
        @include flex-block();
        flex-direction: column;
        padding: 2rem;
        text-align: center;   
       /* width: 15%; KADA SE STAVI SIRINA OVDE GUBI SE RESPONSIVE SVOJSTVO, PITATI!!! SVE VREME JE GRESKA BILA OVDE*/
        width: 25%;

        i{
        font-size: 6rem;
       // padding: 1rem;
        transition: transform 0.5s;
        }
        i:hover {
        transform: scale(1.2);
        color:$zelena;
        }

        p{
            font-size: 1rem;
            color:$zelena;
            font-weight: bold;
            text-align: justify;
            padding:1rem;
        }


        
        progress {
            background-color:$zelena;
            height: 12px;
            width: 90%;
        }
        progress[value]::-webkit-progress-bar {
            background-color: $bela;
        }
    }  
  } 
}

#projects{
    #projects-holder{
        @include flex-block();
        justify-content: space-evenly;
        margin: 5%;
        margin-top:2.5%;
       

        .one-project{
            padding: 2.5rem 1.5rem;            
            img{
                transition:  0.5s ease-in-out;
               /* width: 500px;
                height: 250px;*/
            }
            img:hover{
                transform: scale(1.05);
                box-shadow: 0.3rem 0.3rem 1.25rem $zelena; 
            }
        }
       
    }
}


#author{
    background-image: url("..//images/man.jpg");
    @include back-img();
    #author-holder{
        @include flex-block();
        justify-content:space-around;
        width: 100%;
        margin:5% auto;
        #info{            
            div{
                margin:10% auto;
                p,h4{
                    font-size: 2.1rem;
                }
                p{
                    color:$zelena;
                }
            }
        }
        #pic{
            img{
                width: 25rem;
                transition:  0.5s ease-in-out;
            }
            img:hover{
                transform: scale(1.05);
                box-shadow: 0.125rem 0.125rem 0.6rem $zelena;
            }
        }
    }
}

#contact{
    margin:2% auto;
    flex-direction: column;
    width: 90%;
    #contact-holder{
        @include flex-block();
        justify-content: space-around !important; 
        flex-direction: row;
       // width: 100%;
        margin:4rem auto;

        #form{
            width: 20rem;

            form{
                width: 100%;

                input[type=text],input[type=password],input[type=email], textarea,button{
                    width: 95%;
                    padding:0.65rem;
                    margin:1rem auto;
                    @include form-text();
                }
                input[type=text]::placeholder,input[type=password]::placeholder,input[type=email]::placeholder, textarea::placeholder{
                   @include form-text();
                }

                textarea{
                    max-width: 25rem; //STAVITI OSTALE MAX-WIDTH 25rem
                    line-height: 1.5rem;
                }
                #submit{
                    width: 100%;
                    text-align: center;
                    button{
                    width:35%;
                    color:$crna;
                    }

                }
                
            }
        }
    }

    iframe{
        width:30rem;
        height: 30rem;
    }
}


#services{
    @include flex-block();
    flex-direction: column;
    width: 100%;

    #services-holder{
        @include flex-block();
        justify-content: space-around;
        margin:2% auto;
        width: 100%;

        .one-service{
            @include flex-block();
            flex-direction: column;
            width: 25%;
            p,i{
                padding:1rem;
            }
            i{
                font-size: 6rem;
                color:$bela;
                transition: transform 0.5s;
            }
            i:hover {
                transform: scale(1.2);
                color:$zelena;
                }
            p{
                font-size: 1rem;
                font-weight: bold;
                color: $zelena;
                text-align: justify;
            }
            h4{
                font-size: 1.25rem;
                color:$bela;
                text-align: justify;
            }
        }
    }
}


footer{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: $zelena;
    color:$crna;
    @include flex-block();
    justify-content: space-between;
    div{
        width: 30%;
    }
    #first{
        text-align: left;
    }
    #last{
        text-align: right;
    }
    nav ul li{
        display: inline;
        
        i{
            font-size:1.2rem;
            padding:0px 20px;
        }
    }
    nav ul li:first-child{
        padding-left:60px;
    }
    
    i{
        font-size:1.2rem;
        padding-right:60px;
    }
    p{
        font-size: 1.3rem;
        font-weight: bold;
    }
    a{
        color:$crna;
        transition: 0.5s ease-in-out;
    }
    a:hover{
        color:$bela;
    }
}



