@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

hr {
  border: 1.5px solid #609c44;
  width: 90%;
  margin: 0px 5%;
}

figcaption {
  padding-top: 2%;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  color: #609c44;
}

a {
  text-decoration: none;
}

.title {
  margin: 2% auto;
}
.title h3 {
  font-size: 3rem;
  text-align: center;
  color: #FFF;
}

#background {
  background-image: url("..//images/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}
#background header {
  background-color: #000;
  color: #FFF;
}
#background .centering {
  margin: auto 5%;
}
#background .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#background nav ul {
  list-style-type: none;
}
#background nav ul li {
  display: inline;
  padding-right: 3rem;
  font-size: 1.5rem;
}
#background nav ul li a {
  transition: 0.5s ease-in-out;
  text-decoration: none;
  color: #FFF;
}
#background nav ul li a:hover {
  color: #609c44;
  text-decoration: underline;
}
#background nav ul li:last-child {
  padding-right: 0px;
}
#background #logo img {
  width: 10rem;
  height: 5.6rem;
}
#background #heading-text {
  margin: 5%;
  /*display: flex;
  flex-direction: column;
  text-align: center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#background #heading-text h1, #background #heading-text h2 {
  text-transform: uppercase;
  color: #FFF;
  /* background-color: $crna;*/
  font-weight: bold;
}
#background #heading-text h1 {
  font-size: 6.5rem;
  letter-spacing: 0.7rem;
  word-spacing: 0.5rem;
  text-shadow: 0.45rem 0.45rem #000;
}
#background #heading-text h2 {
  padding-top: 3%;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: lowercase;
  text-shadow: 0.25rem 0.25rem #000;
}
#background #heading-text i {
  font-size: 8.5rem;
  color: #FFF;
  text-shadow: 0.2rem 0.2rem #000;
  padding-top: 45%;
  animation-name: animacija;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animacija {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #FFF;
}

span {
  color: #609c44;
  text-align: right;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  padding-top: 0.75rem;
}

#skills #icon-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  margin-top: 0%;
}
#skills #icon-holder .one-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  /* width: 15%; KADA SE STAVI SIRINA OVDE GUBI SE RESPONSIVE SVOJSTVO, PITATI!!! SVE VREME JE GRESKA BILA OVDE*/
  width: 25%;
}
#skills #icon-holder .one-icon i {
  font-size: 6rem;
  transition: transform 0.5s;
}
#skills #icon-holder .one-icon i:hover {
  transform: scale(1.2);
  color: #609c44;
}
#skills #icon-holder .one-icon p {
  font-size: 1rem;
  color: #609c44;
  font-weight: bold;
  text-align: justify;
  padding: 1rem;
}
#skills #icon-holder .one-icon progress {
  background-color: #609c44;
  height: 12px;
  width: 90%;
}
#skills #icon-holder .one-icon progress[value]::-webkit-progress-bar {
  background-color: #FFF;
}

#projects #projects-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  margin: 5%;
  margin-top: 2.5%;
}
#projects #projects-holder .one-project {
  padding: 2.5rem 1.5rem;
}
#projects #projects-holder .one-project img {
  transition: 0.5s ease-in-out;
  /* width: 500px;
   height: 250px;*/
}
#projects #projects-holder .one-project img:hover {
  transform: scale(1.05);
  box-shadow: 0.3rem 0.3rem 1.25rem #609c44;
}

#author {
  background-image: url("..//images/man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#author #author-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 5% auto;
}
#author #author-holder #info div {
  margin: 10% auto;
}
#author #author-holder #info div p, #author #author-holder #info div h4 {
  font-size: 2.1rem;
}
#author #author-holder #info div p {
  color: #609c44;
}
#author #author-holder #pic img {
  width: 25rem;
  transition: 0.5s ease-in-out;
}
#author #author-holder #pic img:hover {
  transform: scale(1.05);
  box-shadow: 0.125rem 0.125rem 0.6rem #609c44;
}

#contact {
  margin: 2% auto;
  flex-direction: column;
  width: 90%;
}
#contact #contact-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around !important;
  flex-direction: row;
  margin: 4rem auto;
}
#contact #contact-holder #form {
  width: 20rem;
}
#contact #contact-holder #form form {
  width: 100%;
}
#contact #contact-holder #form form input[type=text], #contact #contact-holder #form form input[type=password], #contact #contact-holder #form form input[type=email], #contact #contact-holder #form form textarea, #contact #contact-holder #form form button {
  width: 95%;
  padding: 0.65rem;
  margin: 1rem auto;
  color: #609c44;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}
#contact #contact-holder #form form input[type=text]::-moz-placeholder, #contact #contact-holder #form form input[type=password]::-moz-placeholder, #contact #contact-holder #form form input[type=email]::-moz-placeholder, #contact #contact-holder #form form textarea::-moz-placeholder {
  color: #609c44;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}
#contact #contact-holder #form form input[type=text]::placeholder, #contact #contact-holder #form form input[type=password]::placeholder, #contact #contact-holder #form form input[type=email]::placeholder, #contact #contact-holder #form form textarea::placeholder {
  color: #609c44;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}
#contact #contact-holder #form form textarea {
  max-width: 25rem;
  line-height: 1.5rem;
}
#contact #contact-holder #form form #submit {
  width: 100%;
  text-align: center;
}
#contact #contact-holder #form form #submit button {
  width: 35%;
  color: #000;
}
#contact iframe {
  width: 30rem;
  height: 30rem;
}

#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#services #services-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  margin: 2% auto;
  width: 100%;
}
#services #services-holder .one-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
#services #services-holder .one-service p, #services #services-holder .one-service i {
  padding: 1rem;
}
#services #services-holder .one-service i {
  font-size: 6rem;
  color: #FFF;
  transition: transform 0.5s;
}
#services #services-holder .one-service i:hover {
  transform: scale(1.2);
  color: #609c44;
}
#services #services-holder .one-service p {
  font-size: 1rem;
  font-weight: bold;
  color: #609c44;
  text-align: justify;
}
#services #services-holder .one-service h4 {
  font-size: 1.25rem;
  color: #FFF;
  text-align: justify;
}

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #609c44;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
footer div {
  width: 30%;
}
footer #first {
  text-align: left;
}
footer #last {
  text-align: right;
}
footer nav ul li {
  display: inline;
}
footer nav ul li i {
  font-size: 1.2rem;
  padding: 0px 20px;
}
footer nav ul li:first-child {
  padding-left: 60px;
}
footer i {
  font-size: 1.2rem;
  padding-right: 60px;
}
footer p {
  font-size: 1.3rem;
  font-weight: bold;
}
footer a {
  color: #000;
  transition: 0.5s ease-in-out;
}
footer a:hover {
  color: #FFF;
}/*# sourceMappingURL=style.css.map */
